[submodule "Kami"]
	path = Kami
	url = git@github.com:vmurali/Kami.git
[submodule "ProcKami"]
	path = ProcKami
	url = git@github.com:vmurali/ProcKami.git
[submodule "FpuKami"]
	path = FpuKami
	url = git@github.com:vmurali/FpuKami.git
[submodule "coq-record-update"]
	path = coq-record-update
	url = https://github.com/tchajed/coq-record-update
[submodule "StdLibKami"]
	path = StdLibKami
	url = git@github.com:vmurali/StdLibKami.git
